{% extends '_layout.html' %}

{% block title %}Movie Rating App | All Movies{% endblock %}

{% block body %}
<h1 class="mb-5">All Movies</h1>
<p class="mb-3">See our list of movie ratings below</p>
<table class = "table table-bordered">
    <tr>
        <th>Name of Movie:</th>
        <th>Name of Director:</th>
        <th>Rating:</th>
    </tr>
    <!-- TODO: Feature 1 -->
    {% for movie in ratings %}
    <tr>
        <th>{{movie.title}}</th>
        <th>{{movie.director}}</th>
        <th>{{movie.rating}}/5 Stars</th>
    </tr>
    {% endfor %}
</table>
{% endblock %}
