{% extends '_layout.html' %}

{% block title %}Movie Rating App | Search Movie Ratings{% endblock %}

{% block body %}
<h1 class="mb-5">Search Movie Ratings</h1>
<p class="mb-3">Search for a movie rating below</p>

<!-- TODO: Feature 3 -->
<form action="/movies/search" method="get">
    <div class="input-group">
        <input type="text" class="form-control rounded" placeholder="Search" id="moviesearch" name="moviesearch">
        <button type="submit" name="submit" class="btn btn-outline-primary">Search</button>
    </div>
</form>

{% if searchResult != None %}
    <p>{{searchResult.rating}}/5 for movie {{searchResult.title}}</p>
{% endif %}

{% endblock %}
